doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='apple-touch-fullscreen', content='yes')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(name='format-detection', content='telephone=no')
        meta#viewport(name='viewport', content='width='+screen+',user-scalable=no,target-densitydpi=device-dpi')
        title #{pagetitle}
        if swiper
            link(rel="stylesheet", href="css/swiper.min.css")
        link(rel='stylesheet', href='css/style.css')
    body
        script(src='js/jquery-1.js')
        if bd
            script(src='js/js.cookie.js')
            script(src='js/track.js')
        if wxshare
            script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
            script(src="js/share.js")
        if img
            script(src='js/exif.js')
            script(src='js/imgslter.js')
        if swiper
            script(src='js/swiper.min.js')
        if bd
            script.
                var myURL = Track.parseURL(location.href);
                // var origin = myURL.params.origin || 'direct';
                var hmsr = myURL.params.hmsr || 'direct';
                function track(tracking) {
                    _hmt && _hmt.push(
                    ['_trackEvent', hmsr, 'mobile', tracking]
                    )
                }
                $(document).on('click', '[data-name]', function (e) {
                    e.stopPropagation();
                    var text = $(this).data('name')
                    track(text)
                })
        script(src='js/main.js')
